.swiper-container {
  width: 100%;
  height: 93vh;
  margin: 0;
  padding: 0 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.THEME {
  background-color: #c32a43;
  height: 100%;
  width: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: rgb(202, 202, 202);
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 0, 0);
}
.abc {
  margin: 0;
  padding: 0;
}
