.ThemeBg {
  height: 100%;
  width: 100%;

  background-color: #332220;
  overflow: hidden;
}
.outerthemebg {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  overflow: hidden;
}
