* {
  box-sizing: border-box;
}
.theme {
  background-color: rgb(0, 0, 0);

  height: 100vh;
  width: 100%;
  margin-top: 15px;
  background-size: cover;
  background-position: center;
}
.theme1 {
  height: 93vh;
  width: 100%;
  background-image: url("../../assets/images/11.jpg");
  background-size: cover;
  background-position: center;
}

.theme2 {
  background-image: url("../../assets/images/22.jpg");
}
.theme3 {
  background-image: url("../../assets/images/11.jpg");
}
.theme4 {
  background-image: url("../../assets/images/22.jpg");
}
.themerow {
  height: 50%;
  width: 100%;
}
.themecol {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.themehead1 {
  font-family: "Abril Fatface", cursive;
  color: #cce0fb;
  font-size: 4vw;
}
.themepara1 {
  color: #cce0fb;
  width: 70%;
  font-size: 1.2vw;
}
.btnrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.themebtn1 {
  background-color: #cce0fb;
  border: none;
  color: black;
}
.mycheckbox input:checked ~ .control_indicator {
  background: #00ff0b;
}
@media only screen and (max-width: 768px) {
  .colhid {
    display: none;
  }
  .themehead1 {
    font-family: "Abril Fatface", cursive;
    color: #cce0fb;
    font-size: 8vw;
  }
  .themepara1 {
    color: #cce0fb;
    width: 70%;
    font-size: 3vw;
  }
}
