.bgmehroon {
  background-color: #c32a43;
}
.bgmehroon:hover {
  box-shadow: 2px 2px 60px #c32a43;
}
.bgmehroon2 {
  background-color: #332220;
  padding-top: 7vh;
  width: 100%;
}

.bgblue {
  background-color: #0d6efd;
}

.bgblue:hover {
  box-shadow: 2px 2px 60px #0d6efd;
}

.bgblue2 {
  background-color: #2e2d3f;
  padding-bottom: 7vh;
  width: 100%;
}

.bgpurple {
  background-color: #7f02a9;
}
.bgpurple:hover {
  box-shadow: 2px 2px 60px #7f02a9;
}
.bgpurple2 {
  background-color: #340344;
  padding-top: 7vh;
  width: 100%;
}

.bggreen {
  background-color: #17bc78;
}
.bggreen:hover {
  box-shadow: 2px 2px 60px #17bc78;
}
.bggreen2 {
  background-color: #0b5033;
  padding-bottom: 7vh;
  width: 100%;
  transition: padding 0.3s;
}