  .swiper-container {
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 300px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-pagination-bullet {
  background-color: white;
}
.swiper-pagination-bullet-active {
  background-color: white;
}